rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        function isAuthenticated() {
            return request.auth != null;
        }

        function isOwner(userId) {
            return isAuthenticated() && request.auth.uid == userId;
        }

        function isAdmin() {
            return isAuthenticated() && (request.auth.token.admin == true || request.auth.token.superAdmin == true);
        }

        function isBlockedBy(targetUserId) {
            let targetData = get(/databases/$(database)/documents/users/$(targetUserId)).data;
            return request.auth.uid in targetData.get('blockedUsers', []);
        }

        function hasBlocked(targetUserId) {
            let myData = get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
            return targetUserId in myData.get('blockedUsers', []);
        }

        function isContactOf(targetUserId) {
            return exists(/databases/$(database)/documents/contacts/$(targetUserId + '_' + request.auth.uid));
        }


        match /users/{userId} {
            allow read: if isAuthenticated();
            allow create: if isOwner(userId);

            allow update: if isAdmin() 
                || (isOwner(userId) && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['isAdmin', 'isVerified']))
                || (isAuthenticated() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['incomingCall', 'userInCall', 'otherUserId', 'online', 'lastSeen']));

            allow delete: if isAdmin() || isOwner(userId);
        }

        match /contacts/{contactDocId} {
            allow list: if isAuthenticated(); 
            allow get: if isAuthenticated() && (
            resource == null || 
            resource.data.userId == request.auth.uid || 
            resource.data.contactId == request.auth.uid
            );

            allow create: if isAuthenticated() && (
            request.resource.data.userId == request.auth.uid ||
            request.resource.data.contactId == request.auth.uid
            );

            allow delete: if isAuthenticated() && (
            resource.data.userId == request.auth.uid || 
            resource.data.contactId == request.auth.uid
            );
        }

        match /messages/{messageId} {
            allow list: if isAuthenticated(); 

            allow get: if isAuthenticated() && (
                resource.data.chatId.matches('.*' + request.auth.uid + '.*')
                );

                allow create: if isAuthenticated() 
                    && request.resource.data.senderId == request.auth.uid
                    && (isAdmin() || !isBlockedBy(request.resource.data.receiverId));

                allow update: if isAuthenticated() && (
                resource.data.senderId == request.auth.uid || 
                resource.data.receiverId == request.auth.uid
                );

                allow delete: if isAuthenticated() && resource.data.senderId == request.auth.uid;
            }

            match /stories/{storyId} {
                allow list: if isAuthenticated();

                allow get: if isAuthenticated() && (
                resource == null || isAdmin() ||
                resource.data.userId == request.auth.uid || 
                (
                !hasBlocked(resource.data.userId) && 
                !isBlockedBy(resource.data.userId) && (
                resource.data.privacy == 'public' ||
                (resource.data.privacy == 'contacts' && isContactOf(resource.data.userId)) ||
                (resource.data.privacy == 'selected' && request.auth.uid in resource.data.allowedViewers)
                )
                )
                );

                allow create: if isOwner(request.resource.data.userId);
                allow update: if isAuthenticated() && (
                isOwner(resource.data.userId) || 
                request.resource.data.diff(resource.data).affectedKeys().hasOnly(['viewers', 'viewersDetails'])
                )
                allow delete: if isOwner(resource.data.userId);
            }

            match /calls/{callId} {
                allow create: if isAuthenticated();
                allow read, update, delete: if isAuthenticated() && (
                resource.data.callerId == request.auth.uid || 
                resource.data.receiverId == request.auth.uid
                );
            }

            match /iceCandidates/{candidateId} {
                allow list: if isAuthenticated();
                allow get, create, delete: if isAuthenticated();
            }

            match /typingStatus/{chatId} {
                    allow read, write: if isAuthenticated() && chatId.matches('.*' + request.auth.uid + '.*');
                }

                match /userKeys/{userId} {
                    allow read: if isAuthenticated();
                    allow write: if isOwner(userId);
                }

                match /verificationRequests/{requestId} {
                    allow create: if isAuthenticated();
                    allow read: if isOwner(resource.data.userId) || isAdmin();
                    allow update: if isAdmin();
                }

                match /broadcasts/{broadcastId} {
                    allow read, write: if isAdmin();
                }

                match /reports/{reportId} {
                    allow create: if isAuthenticated();
                    allow read, update: if isAdmin();
                }
            }
        }